@keyframes heartBeat {
  0% { transform: scale(1); }
  14% { transform: scale(1.3); }
  28% { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); }
}
.animate-heart-beat {
  animation: heartBeat 1.5s infinite;
  display: inline-block;
}

.love-input:focus {
    border-color: #f472b6;
    ring: 2px solid #f472b6;
}